flows.json
[
    {
        "id": "6efe5b31f4e723df",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69d5b54504ad49da",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "office/status",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d1c58dc757ef5dc",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "b5d3d1581589c15f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "2b1e96a44aee2d3e",
        "type": "ui-page",
        "name": "Smart office",
        "ui": "1d1c58dc757ef5dc",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "b5d3d1581589c15f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0557721b88fe7bc1",
        "type": "ui-group",
        "name": "Group 1",
        "page": "2b1e96a44aee2d3e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1c8b5a3527113f23",
        "type": "mqtt-broker",
        "name": "",
        "broker": "e7c567eb8ed64eeba5a3380924a4a279.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "493fe9de50616a5c",
        "type": "mqtt in",
        "z": "6efe5b31f4e723df",
        "name": "",
        "topic": "office/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1c8b5a3527113f23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "67fc24f5cca8bc24",
                "bd789eb2311a382e"
            ]
        ]
    },
    {
        "id": "ed9ec732d5bf02d5",
        "type": "e-mail",
        "z": "6efe5b31f4e723df",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "rohan.mathew218@gmail.com",
        "dname": "output",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "9405e8fae8e5ce48",
        "type": "inject",
        "z": "6efe5b31f4e723df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "office/status",
        "payload": "ALERT_TRIGGERED",
        "payloadType": "str",
        "x": 210,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "717a54216cdb70e6",
        "type": "catch",
        "z": "6efe5b31f4e723df",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "75365bba24e86f50"
            ]
        ]
    },
    {
        "id": "75365bba24e86f50",
        "type": "debug",
        "z": "6efe5b31f4e723df",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c9083665c920660",
        "type": "debug",
        "z": "6efe5b31f4e723df",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "67fc24f5cca8bc24",
        "type": "ui-text",
        "z": "6efe5b31f4e723df",
        "group": "0557721b88fe7bc1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Live Status",
        "label": "Live Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "84b4ffa9e41434ba",
        "type": "ui-text",
        "z": "6efe5b31f4e723df",
        "group": "0557721b88fe7bc1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Lights",
        "label": "Lights",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 450,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2e2799b51d1f291",
        "type": "ui-text",
        "z": "6efe5b31f4e723df",
        "group": "0557721b88fe7bc1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "AC",
        "label": "AC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "afec4f552611d689",
        "type": "mqtt in",
        "z": "6efe5b31f4e723df",
        "name": "",
        "topic": "office/ac",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1c8b5a3527113f23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "a2e2799b51d1f291",
                "bd789eb2311a382e"
            ]
        ]
    },
    {
        "id": "48f47b5c04e0eb11",
        "type": "mqtt in",
        "z": "6efe5b31f4e723df",
        "name": "",
        "topic": "office/lights",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1c8b5a3527113f23",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "84b4ffa9e41434ba",
                "bd789eb2311a382e"
            ]
        ]
    },
    {
        "id": "de6eb5163d9c47c0",
        "type": "mqtt out",
        "z": "6efe5b31f4e723df",
        "name": "",
        "topic": "office/lights",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "69d5b54504ad49da",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "d5d27893cb274bee",
        "type": "mqtt out",
        "z": "6efe5b31f4e723df",
        "name": "",
        "topic": "office/ac",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "69d5b54504ad49da",
        "x": 1020,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd789eb2311a382e",
        "type": "function",
        "z": "6efe5b31f4e723df",
        "name": "function 1",
        "func": "// 1. Figure out which topic just fired and save its payload to memory\nif (msg.topic === \"office/status\") {\n    flow.set(\"roomStatus\", msg.payload);\n} else if (msg.topic === \"office/ac\") {\n    flow.set(\"acState\", msg.payload);\n} else if (msg.topic === \"office/lights\") {\n    flow.set(\"lightState\", msg.payload);\n}\n\n// 2. Retrieve the current state of ALL THREE from memory\nlet currentStatus = flow.get(\"roomStatus\") || \"UNKNOWN\";\nlet currentAC = flow.get(\"acState\") || \"UNKNOWN\";\nlet currentLights = flow.get(\"lightState\") || \"UNKNOWN\";\n\n// 3. Evaluate states: Trigger warning if room is UNOCCUPIED but AC is ON\nif (currentStatus === \"UNOCCUPIED\" && currentAC === \"ON\") {\n    msg.payload = \"WARNING: Energy Waste! Room is empty but AC is running.\";\n    msg.topic = \"alerts/energy\";\n    return msg;\n} else {\n    msg.payload = \"NONE\";\n    msg.topic = \"alerts/energy\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "a162324aa6971bba",
                "08f8340a5a1c384b"
            ]
        ]
    },
    {
        "id": "a162324aa6971bba",
        "type": "ui-text",
        "z": "6efe5b31f4e723df",
        "group": "0557721b88fe7bc1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Alerts",
        "label": "Alerts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "08f8340a5a1c384b",
        "type": "switch",
        "z": "6efe5b31f4e723df",
        "name": "ALERT",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "WARNING: Energy Waste! Room is empty but AC is running.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "ed9ec732d5bf02d5"
            ]
        ]
    },
    {
        "id": "15a6b47b51d39e33",
        "type": "function",
        "z": "6efe5b31f4e723df",
        "name": "function 2",
        "func": "if (msg.payload ==\"WARNING: Energy Waste! Room is empty but AC is running.\")\n    {\n        msg.payload = \"OFF\";\n        return msg;\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 200,
        "wires": [
            [
                "de6eb5163d9c47c0"
            ]
        ]
    },
    {
        "id": "ff8ee5d2c30618df",
        "type": "function",
        "z": "6efe5b31f4e723df",
        "name": "function 3",
        "func": "if (msg.payload == \"WARNING: Energy Waste! Room is empty but AC is running.\") {\n    msg.payload = \"OFF\";\n    return msg;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "d5d27893cb274bee"
            ]
        ]
    },
    {
        "id": "f783605afac9360f",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-email": "5.2.4"
        }
    }
]
